In [5]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('covid in india.csv')
df = pd.DataFrame(data)

In [3]:
df

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-01-30,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
1,2020-01-31,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
2,2020-02-01,Kerala,10.8505,76.2711,2.0,0,0.0,1,0,0
3,2020-02-02,Kerala,10.8505,76.2711,3.0,0,0.0,1,0,0
4,2020-02-03,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
4687,2020-08-06,Telangana,18.1124,79.0193,73050.0,589,52103.0,2092,0,1289
4688,2020-08-06,Tripura,23.9408,91.9882,5725.0,31,3793.0,97,0,68
4689,2020-08-06,Uttar Pradesh,26.8467,80.9462,104388.0,1857,60558.0,4078,0,3287
4690,2020-08-06,Uttarakhand,30.0668,79.0193,8254.0,98,5233.0,246,0,386
4691,2020-08-06,West Bengal,22.9868,87.8550,83800.0,1846,58962.0,2816,0,2078

In [4]:
df.dtypes

Date                          object
Name of State / UT            object
Latitude                     float64
Longitude                    float64
Total Confirmed cases        float64
Death                         object
Cured/Discharged/Migrated    float64
New cases                      int64
New deaths                     int64
New recovered                  int64
dtype: object

In [5]:
df['Death'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '8', '9', '13', '7', '16', '19',
       '10', '24', '11', '45', '12', '64', '72', '17', '97', '33', '110',
       '22', '36', '127', '25', '149', '28', '26', '50', '160', '30',
       '178', '14', '32', '53', '187', '18', '38', '57', '194', '15',
       '42', '41', '69', '201', '70', '211', '63', '223', '20', '47',
       '71', '74', '232', '23', '90', '76', '251', '48', '103', '80',
       '269', '27', '21', '112', '83', '283', '29', '92', '301', '31',
       '54', '133', '99', '323', '151', '342', '162', '369', '46', '181',
       '120', '400', '51', '34', '56', '197', '129', '432', '39', '59',
       '214', '137', '459', '58', '61', '236', '145', '485', '62', '262',
       '521', '65', '43', '290', '156', '548', '35', '319', '165', '583',
       '77', '368', '176', '617', '89', '140', '396', '185', '651', '60',
       '144', '66', '425', '193', '694', '37', '68', '449', '200', '731',
       '101', '40', '44', '73', '472', '215', '779', '106', '171', '493',
       '832', '107', '513', '221', '868', '113', '190', '86', '537',
       '225', '921', '117', '82', '198', '566', '975', '121', '207',
       '115', '586', '237', '1019', '125', '88', '123', '606', '239',
       '1068', '95', '49', '625', '243', '1135', '126', '104', '659',
       '248', '1198', '131', '78', '238', '168', '252', '1249', '138',
       '81', '118', '244', '52', '719', '258', '1325', '143', '84', '250',
       '749', '267', '1390', '147', '87', '253', '773', '270', '1454',
       '94', '259', '55', '208', '802', '272', '1517', '153', '98', '152',
       '265', '231', '829', '281', '1577', '0#', '155', '261', '858',
       '1635', '163', '111', '161', '276', '888', '300', '1695', '167',
       '278', '288', '915', '305', '1792', '170', '303', '938', '313',
       '1897', '173', '182', '289', '316', '960', '321', '1982', '180',
       '67', '295', '398', '980', '334', '2098', '184', '154', '302',
       '416', '1007', '343', '2197', '309', '473', '1038', '350', '2286',
       '213', '317', '523', '1063', '358', '2362', '217', '325', '556',
       '1092', '364', '2465', '203', '222', '335', '1122', '371', '2587',
       '209', '229', '345', '650', '1155', '377', '2710', '220', '105',
       '245', '355', '708', '1190', '384', '2849', '218', '257', '366',
       '761', '1219', '399', '2969', '383', '75', '812', '412', '3060',
       '240', '275', '874', '1280', '414', '3169', '246', '286', '405',
       '905', '1313', '420', '3289', '255', '307', '148', '415', '984',
       '1347', '427', '3438', '326', '1085', '1385', '431', '3590', '349',
       '442', '1214', '1415', '79', '440', '3717', '367', '174', '365',
       '451', '1271', '1448', '447', '3830', '282', '397', '385', '463',
       '1327', '1477', '3950', '292', '435', '475', '1400', '1505', '100',
       '465', '4128', '479', '1837', '1533', '476', '5537', '308', '528',
       '191', '417', '495', '1904', '1560', '130', '102', '482', '5651',
       '576', '192', '506', '1969', '1591', '134', '114', '486', '5751',
       '195', '518', '96', '2035', '1618', '124', '5893', '333', '666',
       '488', '529', '2112', '1638', '132', '501', '5984', '337', '704',
       '507', '540', '2175', '1663', '515', '6170', '757', '210', '550',
       '555', '2233', '1684', '169', '85', '142', '6283', '356', '794',
       '569', '119', '2301', '1710', '150', '525', '6531', '833', '588',
       '580', '2365', '1735', '188', '164', '534', '6739', '375', '866',
       '596', '591', '2492', '1771', '91', '546', '7106', '122', '380',
       '957', '630', '616', '157', '2558', '1789', '93', '7273', '128',
       '391', '1025', '649', '629', '2623', '1808', '557', '7429', '1079',
       '247', '660', '639', '2680', '1827', '226', '564', '7610', '1141',
       '672', '653', '2803', '1867', '581', '8053', '421', '1264', '718',
       '683', '2864', '1886', '589', '8178', '430', '1321', '735', '699',
       '3004', '1925', '260', '598', '8671', '1450', '736', '3115',
       '1960', '401', '9026', '461', '1571', '306', '809', '3165', '1977',
       '279', '622', '9250', '175', '1636', '827', '804', '264', '3213',
       '1993', '470', '9448', '1700', '324', '845', '277', '3258', '2008',
       '287', '634', '9667', '183', '491', '1765', '331', '862', '854',
       '3300', '2022', '159', '543', '638', '9893', '497', '1829', '339',
       '889', '880', '3334', '2032', '297', '613', '644', '10116', '503',
       '1898', '348', '913', '906', '328', '3371', '2045', '179', '684',
       '10289', '199', '510', '1966', '934', '932', '3411', '2055', '663',
       '10482', '204', '955', '956', '408', '3446', '2069', '312', '842',
       '673', '10695', '2099', '983', '452', '3487', '2079', '206', '928',
       '682', '10928', '530', '2167', '386', '1012', '1000', '3571',
       '2106', '327', '1147', '697', '11452', '2315', '403', '1084',
       '1049', '3597', '2122', '344', '1240', '706', '11596', '553',
       '2403', '409', '1108', '642', '3628', '2142', '1331', '721',
       '11854', '254', '559', '2481', '1146', '696', '3663', '2162',
       '1403', '738', '12030', '568', '2551', '422', '1192', '758',
       '3690', '2196', '263', '1464', '756', '12276', '577', '2626',
       '429', '1229', '823', '3719', '2224', '372', '273', '1519', '770',
       '12556', '108', '3144', '438', '1263', '884', '3745', '2252',
       '378', '1616', '780', '12854', '594', '3232', '1289', '933',
       '3777', '2278', '382', '296', '1724', '791', '13132', '602',
       '3320', '455', '1348', '985', '234', '3806', '2300', '389', '1796',
       '799', '13389', '291', '3409', '1387', '1332', '1041', '3827',
       '2326', '392', '1878', '811', '13656', '621', '3494', '1426',
       '1090', '3853', '2348', '1953', '820', '13883', '318', '631',
       '480', '1456', '1411', '1148', '3881', '2372', '406', '830',
       '14165', '336', '3659', '1497', '1449', '1213', '3907', '2396',
       '413', '2147', '843', '14463', '361', '3741', '492', '1530',
       '1490', '1281', '3936', '2418', '2230', '857', '14729', '370',
       '3838', '505', '1587', '1536', '1349', '3963', '2441', '2314',
       '867', '14994', '177', '674', '3935', '519', '1630', '1581',
       '1407', '3989', '2464', '428', '388', '2412', '876', '15316',
       '690', '4034', '1677', '1629', '1474', '329', '4004', '2486',
       '433', '2496', '886', '15576', '423', '703', '4132', '1730',
       '1678', '1537', '109', '330', '4021', '2508', '407', '2594', '900',
       '15842', '715', '4241', '563', '1778', '1731', '1604', '347',
       '4033', '2533', '448', '2704', '912', '16142', '216', '462', '732',
       '4349', '1817', '1785', '1681', '4044', '2556', '426', '136',
       '2804', '929', '16476', '745', '4461', '1857', '1846'],
      dtype=object)

In [9]:
df['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Haryana', 'Rajasthan',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram',
       'Andaman and Nicobar Islands', 'Goa', 'Assam', 'Jharkhand',
       'Arunachal Pradesh', 'Tripura', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim', 'Nagaland',
       'Telangana', 'Telangana***'], dtype=object)